# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that Data Scientists
- List commonly used libraries used by Data Scientists
+ Execute a simple arithmetic expression to mutiply then add integers
* List some Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL languages
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy
4. Matplotlib

| ***Data Science Tools*** |
| ------|
| MySQL |
| MongoDB |
| Hadoop File System |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author 
 dyoenathan